# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.build/
.packages
.pub/
build/
.dart_tool/
.pubspec.lock
flutter_export_environment.sh

# Archivos de configuración de Android
android/gradle/
android/local.properties
android/app/local.properties
android/app/key.properties

# Archivos generados por Android Studio
.idea/
*.iml

# Archivos generados por Visual Studio Code
.vscode/

# Archivos generados por IntelliJ IDEA
.idea/

# Archivos generados por Android Studio
*.iml
.idea/
*.iws
*.ipr

# Archivos generados por macOS
.DS_Store

# Archivos de registro
*.log

# Carpetas y archivos de respaldo
backup*/
*~

# Archivos generados por el análisis estático
.dart_tool/generated/